@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}

@font-face {
  font-family: 'HarryP';
  src: local(HarryP), url(./fonts/HarryP.woff) format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@keyframes spin {

from {
  transform: rotateY(0deg);
}
to {
  transform: rotateY(359deg);
}
}
#app {
font-family: 'Harry P';

}

h1 {
font-size: 100px;
color: rgb(243, 229, 31);
text-align: center;
font-family: 'HarryP';
}

@keyframes fade{
0% {
  opacity: 0;
}
100%{
  opacity: 1;
}
}

@keyframes fadeInAndOut{
0% {
  opacity: 0;
}
75% { opacity: 1; 
}
100%{
  opacity: 0;
}
}

label, p {
  font-size: 20pt;
}


/* .result {
font-size: 30pt;
opacity: 0;
color:red;
position: relative;
padding-bottom: 10pt;
}

.alternative div {
font-size: 30pt;
opacity: 1;
color:blue;
position: relative;
animation: delayResult 5s ease-in 0s;
animation-name: fadeInAndOut;
animation-fill-mode: both;
animation-duration: 10s;
padding-bottom: 10pt;
text-align: center;
} */

/* #return {
font-size: 20pt;
color: red;
} */


.houses {
background-color: black;
}

table td:first-child{
color: rgb(255, 219, 0);
}

table td:nth-child(2){
color: rgb(42, 98, 61);
}

table td:nth-child(3){
color: rgb(34, 47, 91);
}

table td:last-child{
color: rgb(116, 0, 1);
}

p, .name {
animation: delayResult 5s ease-in 10s;
animation-name: fade;
animation-fill-mode: both;
animation-duration: 10s;
}

div#nameSection {
font-size: 30pt;
text-align: center;
}

input {
height: 30pt;
padding: 10pt 0;
font-size: 30pt;
width: 150pt;
}



/* #notNumber {
color: red;
} */

#hat {
width: 300px;
}

table.table-bordered, td{
border:1px solid black;
font-size: 30pt;
max-width: 60%;
margin: 0px auto;
border-collapse: collapse;
}
table.table-bordered > tbody > tr > th{
border:1px solid black;
height: 50pt;
}
table.table-bordered > tbody > tr > td{
border:1px solid black;
height: 50pt;
}

caption {
text-align: left;
}

/* Hat */

.spinner {
animation-name: spinner;
animation-timing-function: linear;
animation-iteration-count: infinite;
animation-duration: 6s;
}


#stage {
perspective: 1200px;
margin-top: 30pt;
text-align: center;
}

@-webkit-keyframes spinner {
from { -webkit-transform: rotateY(0deg);    }
to   { -webkit-transform: rotateY(-360deg); }
}

@keyframes spinner {
from {
  transform: rotateY(0deg);
}
to {
  transform: rotateY(-360deg);
}
}